@charset "ISO-8859-1";

.jumbotron {
	margin: 0px auto;
	padding: 70px 30px;
	display: flex;
	align-content: center;
}

.row-content {
	padding: 50px 0px;
	margin: 0px auto;
}

.cards {
 
display: grid;
 
grid-template-columns: repeat(5, 1fr);
 
grid-auto-rows: auto;
 
grid-gap: 1rem;
 
}
 
.card {
 
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 12.5rem;
  border: 1px solid gray;
  padding: 0.5rem;
  border-radius: 1rem;
 
}